
# ðŸ§¾ Employee Queries Result Notebook

This notebook contains a series of basic and intermediate SQL queries executed on the `EmployeesDB` database.

**Database Tables Involved:**
- Employees
- Departments
- JobTitles
- Salaries
- JobAssignments

---

### ðŸ”¹ View all employees

In [5]:
SELECT * FROM Employees;

EmployeeID,FirstName,LastName,Gender,DateOfBirth,HireDate,DepartmentID
101,Ali,Khan,Male,1990-05-12,2015-06-01,1
102,Sara,Ahmed,Female,1988-11-23,2016-03-10,2
103,Omar,Zaid,Male,1992-07-18,2018-01-25,3
104,Nadia,Farooq,Female,1985-03-14,2019-08-15,4
105,Hassan,Raza,Male,1980-09-30,2010-09-01,1
106,Ayesha,Malik,Female,1991-01-11,2017-05-20,5
107,Bilal,Sheikh,Male,1983-12-19,2012-11-01,4
108,Zara,Siddiqui,Female,1995-02-02,2020-02-10,2
109,Imran,Ali,Male,1998-04-22,2021-03-15,3
110,Fatima,Khalid,Female,1994-06-30,2022-06-01,5

### ðŸ”¹ View all departments

In [2]:
SELECT * FROM Departments;

DepartmentID,DepartmentName
1,IT
2,HR
3,Sales
4,Finance
5,Marketing

### ðŸ”¹ View all job titles

In [3]:
SELECT * FROM JobTitles;

JobTitleID,Title
1,Software Engineer
2,HR Manager
3,Sales Executive
4,Accountant
5,Senior Developer
6,Marketing Specialist
7,Finance Manager
8,HR Assistant
9,Sales Trainee
10,Content Creator
11,HR Executive
12,Team Lead
13,Sales Manager
14,Junior Accountant
15,Brand Strategist

### ðŸ”¹ View all salaries

In [4]:
SELECT * FROM Salaries;

EmployeeID,BasicSalary,Allowance,Deductions
101,70000.00,5000.00,2000.00
102,60000.00,4000.00,1500.00
103,55000.00,3500.00,1200.00
104,50000.00,3000.00,1000.00
105,80000.00,6000.00,2500.00
106,45000.00,2500.00,900.00
107,65000.00,4500.00,1800.00
108,40000.00,2000.00,700.00
109,35000.00,1500.00,600.00
110,42000.00,2200.00,800.00

### ðŸ”¹ Join: Employees with Departments

In [5]:

SELECT 
    E.FirstName + ' ' + E.LastName AS FullName,
    D.DepartmentName
FROM Employees E
JOIN Departments D ON E.DepartmentID = D.DepartmentID;

FullName,DepartmentName
Ali Khan,IT
Sara Ahmed,HR
Omar Zaid,Sales
Nadia Farooq,Finance
Hassan Raza,IT
Ayesha Malik,Marketing
Bilal Sheikh,Finance
Zara Siddiqui,HR
Imran Ali,Sales
Fatima Khalid,Marketing

### ðŸ”¹ Join: Employees with Job Titles (via JobAssignments)

In [6]:

SELECT 
    E.FirstName + ' ' + E.LastName AS FullName,
    J.Title
FROM Employees E
JOIN JobAssignments A ON E.EmployeeID = A.EmployeeID
JOIN JobTitles J ON A.JobTitleID = J.JobTitleID;

FullName,Title
Ali Khan,Software Engineer
Sara Ahmed,HR Manager
Omar Zaid,Sales Executive
Nadia Farooq,Accountant
Hassan Raza,Senior Developer
Ayesha Malik,Marketing Specialist
Bilal Sheikh,Finance Manager
Zara Siddiqui,HR Assistant
Imran Ali,Sales Trainee
Fatima Khalid,Content Creator

### ðŸ”¹ Join: Employees with Salaries

In [7]:

SELECT 
    E.FirstName + ' ' + E.LastName AS FullName,
    S.BasicSalary, S.Allowance, S.Deductions,
    (S.BasicSalary + S.Allowance - S.Deductions) AS NetPay
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID;

FullName,BasicSalary,Allowance,Deductions,NetPay
Ali Khan,70000.00,5000.00,2000.00,73000.00
Sara Ahmed,60000.00,4000.00,1500.00,62500.00
Omar Zaid,55000.00,3500.00,1200.00,57300.00
Nadia Farooq,50000.00,3000.00,1000.00,52000.00
Hassan Raza,80000.00,6000.00,2500.00,83500.00
Ayesha Malik,45000.00,2500.00,900.00,46600.00
Bilal Sheikh,65000.00,4500.00,1800.00,67700.00
Zara Siddiqui,40000.00,2000.00,700.00,41300.00
Imran Ali,35000.00,1500.00,600.00,35900.00
Fatima Khalid,42000.00,2200.00,800.00,43400.00

### ðŸ”¹ Department-wise highest salary

In [8]:

SELECT 
    D.DepartmentName,
    MAX(S.BasicSalary + S.Allowance - S.Deductions) AS HighestNetSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
JOIN Departments D ON E.DepartmentID = D.DepartmentID
GROUP BY D.DepartmentName;

DepartmentName,HighestNetSalary
Finance,67700.00
HR,62500.00
IT,83500.00
Marketing,46600.00
Sales,57300.00

### ðŸ”¹ List all employees hired after 2015

In [9]:

SELECT FirstName, LastName, HireDate
FROM Employees
WHERE HireDate > '2015-01-01';

FirstName,LastName,HireDate
Ali,Khan,2015-06-01
Sara,Ahmed,2016-03-10
Omar,Zaid,2018-01-25
Nadia,Farooq,2019-08-15
Ayesha,Malik,2017-05-20
Zara,Siddiqui,2020-02-10
Imran,Ali,2021-03-15
Fatima,Khalid,2022-06-01

### ðŸ”¹ Count of employees per department

In [10]:

SELECT D.DepartmentName, COUNT(*) AS EmployeeCount
FROM Employees E
JOIN Departments D ON E.DepartmentID = D.DepartmentID
GROUP BY D.DepartmentName;

DepartmentName,EmployeeCount
Finance,2
HR,2
IT,2
Marketing,2
Sales,2

### ðŸ”¹ Average salary per department

In [11]:

SELECT D.DepartmentName, AVG(S.BasicSalary) AS AvgSalary
FROM Employees E
JOIN Salaries S ON E.EmployeeID = S.EmployeeID
JOIN Departments D ON E.DepartmentID = D.DepartmentID
GROUP BY D.DepartmentName;

DepartmentName,AvgSalary
Finance,57500.000000
HR,50000.000000
IT,75000.000000
Marketing,43500.000000
Sales,45000.000000

### ðŸ”¹ Employees without assigned job titles

In [12]:

SELECT E.EmployeeID, E.FirstName, E.LastName
FROM Employees E
LEFT JOIN JobAssignments A ON E.EmployeeID = A.EmployeeID
WHERE A.JobTitleID IS NULL;

### ðŸ”¹ Employees with multiple job titles

In [13]:

SELECT A.EmployeeID, COUNT(*) AS TitleCount
FROM JobAssignments A
GROUP BY A.EmployeeID
HAVING COUNT(*) > 1;