In [2]:
USE MyDatabase

In [8]:
SELECT * FROM customers

id,first_name,country,score
1,Maria,Germany,350
2,John,USA,900
3,Georg,UK,750
4,Martin,Germany,500
5,Peter,USA,0
6,Alice,Canada,660
7,Zara,India,480
8,Ali,UAE,720
9,Nina,Germany,510
10,Ahmed,USA,300
11,Sameer,UK,820
12,Lina,India,430
13,Omar,UAE,600
14,Salma,Canada,550
15,Tom,USA,100
16,Samd,India,110
17,Rauf,Iran,107
18,Ilyas,Canad,90
19,Tariq,UAE,999
20,Tariq,Germany,110

In [9]:
---- Retrieve customers from Germany
SELECT *
FROM customers
WHERE country = 'Germany'

id,first_name,country,score
1,Maria,Germany,350
4,Martin,Germany,500
9,Nina,Germany,510
20,Tariq,Germany,110

In [10]:
---- Retrieve customers from India
SELECT * 
FROM customers
WHERE country = 'India'

id,first_name,country,score
7,Zara,India,480
12,Lina,India,430
16,Samd,India,110

In [11]:
---- Retrieve customers from UAE
SELECT * 
FROM customers 
WHERE country = 'UAE'

id,first_name,country,score
8,Ali,UAE,720
13,Omar,UAE,600
19,Tariq,UAE,999

In [12]:
---- Retrieve customers from USA
SELECT first_name , country 
FROM customers
WHERE country = 'USA'

first_name,country
John,USA
Peter,USA
Ahmed,USA
Tom,USA

In [15]:
-- Retrieve each customer's name, country, and score.
SELECT 
    first_name,
    country,
    score
FROM customers

first_name,country,score
Maria,Germany,350
John,USA,900
Georg,UK,750
Martin,Germany,500
Peter,USA,0
Alice,Canada,660
Zara,India,480
Ali,UAE,720
Nina,Germany,510
Ahmed,USA,300
Sameer,UK,820
Lina,India,430
Omar,UAE,600
Salma,Canada,550
Tom,USA,100
Samd,India,110
Rauf,Iran,107
Ilyas,Canad,90
Tariq,UAE,999
Tariq,Germany,110