# ðŸ“˜ SQL ORDER BY Practice

**Using Customers and Orders Table**

This notebook demonstrates the use of `ORDER BY` clause in SQL with the `customers` and `orders` tables.

In [ ]:
-- ============================================================================
-- ORDER BY with CUSTOMERS table and ORDERS table
-- ============================================================================

### \-- 01. Retrieve all customers and sort the results by the highest score first.

In [2]:
SELECT * FROM customers
ORDER BY score DESC;

id,first_name,country,score
19,Tariq,UAE,999
2,John,USA,900
11,Sameer,UK,820
3,Georg,UK,750
8,Ali,UAE,720
6,Alice,Canada,660
13,Omar,UAE,600
14,Salma,Canada,550
9,Nina,Germany,510
4,Martin,Germany,500
7,Zara,India,480
12,Lina,India,430
1,Maria,Germany,350
10,Ahmed,USA,300
20,Tariq,Germany,110
16,Samd,India,110
17,Rauf,Iran,107
15,Tom,USA,100
18,Ilyas,Canad,90
5,Peter,USA,0


-- 02. Retrieve all customers and sort the results by the lowest score first

In [3]:
SELECT * FROM customers
ORDER BY score ASC;

id,first_name,country,score
5,Peter,USA,0
18,Ilyas,Canad,90
15,Tom,USA,100
17,Rauf,Iran,107
20,Tariq,Germany,110
16,Samd,India,110
10,Ahmed,USA,300
1,Maria,Germany,350
12,Lina,India,430
7,Zara,India,480
4,Martin,Germany,500
9,Nina,Germany,510
14,Salma,Canada,550
13,Omar,UAE,600
6,Alice,Canada,660
8,Ali,UAE,720
3,Georg,UK,750
11,Sameer,UK,820
2,John,USA,900
19,Tariq,UAE,999

### Â -- 03. Retrieve all customers and sort the results by the country and then by the highest score

In [4]:

SELECT * FROM customers
ORDER BY country ASC, score DESC;

id,first_name,country,score
18,Ilyas,Canad,90
6,Alice,Canada,660
14,Salma,Canada,550
9,Nina,Germany,510
4,Martin,Germany,500
1,Maria,Germany,350
20,Tariq,Germany,110
7,Zara,India,480
12,Lina,India,430
16,Samd,India,110
17,Rauf,Iran,107
19,Tariq,UAE,999
8,Ali,UAE,720
13,Omar,UAE,600
11,Sameer,UK,820
3,Georg,UK,750
2,John,USA,900
10,Ahmed,USA,300
15,Tom,USA,100
5,Peter,USA,0

-- 04. Retrieve all customers and sort the results by the first_name and then by the highest score

In [14]:
SELECT * FROM customers
ORDER BY first_name DESC, score DESC;

id,first_name,country,score
7,Zara,India,480
15,Tom,USA,100
19,Tariq,UAE,999
20,Tariq,Germany,110
11,Sameer,UK,820
16,Samd,India,110
14,Salma,Canada,550
17,Rauf,Iran,107
5,Peter,USA,0
13,Omar,UAE,600
9,Nina,Germany,510
4,Martin,Germany,500
1,Maria,Germany,350
12,Lina,India,430
2,John,USA,900
18,Ilyas,Canad,90
3,Georg,UK,750
6,Alice,Canada,660
8,Ali,UAE,720
10,Ahmed,USA,300

-- 05. Sort customers by score (ascending)

In [13]:

SELECT * FROM customers
ORDER BY score ASC;

id,first_name,country,score
5,Peter,USA,0
18,Ilyas,Canad,90
15,Tom,USA,100
17,Rauf,Iran,107
20,Tariq,Germany,110
16,Samd,India,110
10,Ahmed,USA,300
1,Maria,Germany,350
12,Lina,India,430
7,Zara,India,480
4,Martin,Germany,500
9,Nina,Germany,510
14,Salma,Canada,550
13,Omar,UAE,600
6,Alice,Canada,660
8,Ali,UAE,720
3,Georg,UK,750
11,Sameer,UK,820
2,John,USA,900
19,Tariq,UAE,999

-- 06. Sort customers by score (descending)

In [12]:

SELECT * FROM customers
ORDER BY score DESC;

id,first_name,country,score
19,Tariq,UAE,999
2,John,USA,900
11,Sameer,UK,820
3,Georg,UK,750
8,Ali,UAE,720
6,Alice,Canada,660
13,Omar,UAE,600
14,Salma,Canada,550
9,Nina,Germany,510
4,Martin,Germany,500
7,Zara,India,480
12,Lina,India,430
1,Maria,Germany,350
10,Ahmed,USA,300
20,Tariq,Germany,110
16,Samd,India,110
17,Rauf,Iran,107
15,Tom,USA,100
18,Ilyas,Canad,90
5,Peter,USA,0

-- 07. Sort customers alphabetically by first name

In [11]:

SELECT * FROM customers
ORDER BY first_name ASC;

id,first_name,country,score
10,Ahmed,USA,300
8,Ali,UAE,720
6,Alice,Canada,660
3,Georg,UK,750
18,Ilyas,Canad,90
2,John,USA,900
12,Lina,India,430
1,Maria,Germany,350
4,Martin,Germany,500
9,Nina,Germany,510
13,Omar,UAE,600
5,Peter,USA,0
17,Rauf,Iran,107
14,Salma,Canada,550
16,Samd,India,110
11,Sameer,UK,820
19,Tariq,UAE,999
20,Tariq,Germany,110
15,Tom,USA,100
7,Zara,India,480

-- 08. Sort customers by country, then by score descending

In [10]:

SELECT * FROM customers
ORDER BY country, score DESC;

id,first_name,country,score
18,Ilyas,Canad,90
6,Alice,Canada,660
14,Salma,Canada,550
9,Nina,Germany,510
4,Martin,Germany,500
1,Maria,Germany,350
20,Tariq,Germany,110
7,Zara,India,480
12,Lina,India,430
16,Samd,India,110
17,Rauf,Iran,107
19,Tariq,UAE,999
8,Ali,UAE,720
13,Omar,UAE,600
11,Sameer,UK,820
3,Georg,UK,750
2,John,USA,900
10,Ahmed,USA,300
15,Tom,USA,100
5,Peter,USA,0

-- 09. Sort customers by length of first name

In [9]:
SELECT * FROM customers
ORDER BY LEN(first_name);

id,first_name,country,score
8,Ali,UAE,720
15,Tom,USA,100
16,Samd,India,110
17,Rauf,Iran,107
7,Zara,India,480
12,Lina,India,430
13,Omar,UAE,600
9,Nina,Germany,510
2,John,USA,900
3,Georg,UK,750
5,Peter,USA,0
6,Alice,Canada,660
10,Ahmed,USA,300
14,Salma,Canada,550
1,Maria,Germany,350
18,Ilyas,Canad,90
19,Tariq,UAE,999
20,Tariq,Germany,110
11,Sameer,UK,820
4,Martin,Germany,500

-- 10. Sort customers by country in reverse alphabetical order

In [8]:
SELECT * FROM customers
ORDER BY country DESC;

id,first_name,country,score
2,John,USA,900
5,Peter,USA,0
10,Ahmed,USA,300
15,Tom,USA,100
11,Sameer,UK,820
3,Georg,UK,750
8,Ali,UAE,720
13,Omar,UAE,600
19,Tariq,UAE,999
17,Rauf,Iran,107
16,Samd,India,110
12,Lina,India,430
7,Zara,India,480
1,Maria,Germany,350
9,Nina,Germany,510
4,Martin,Germany,500
20,Tariq,Germany,110
6,Alice,Canada,660
14,Salma,Canada,550
18,Ilyas,Canad,90

-- 11. Sort orders by sales amount (ascending)

In [7]:
SELECT * FROM orders
ORDER BY sales ASC;

order_id,customer_id,order_date,sales
1008,3,2021-06-18,115
1001,1,2021-01-11,135
1007,2,2021-04-05,135
1004,6,2021-08-31,140
1014,4,2022-07-09,140
1015,3,2022-08-17,160
1009,6,2021-08-31,170
1003,3,2021-06-18,175
1016,1,2021-10-03,180
1006,1,2021-01-11,199
1017,5,2021-11-21,200
1010,2,2021-09-15,210
1018,4,2021-12-05,220
1011,1,2022-03-20,225
1019,3,2022-01-10,240
1020,6,2022-02-14,260
1021,2,2022-03-14,280
1002,2,2021-04-05,305
1013,5,2022-06-01,305
1012,2,2022-04-25,350

-- 12. Sort orders by sales amount (descending)

In [2]:
SELECT * FROM orders
ORDER BY sales DESC;

order_id,customer_id,order_date,sales
1012,2,2022-04-25,350
1013,5,2022-06-01,305
1002,2,2021-04-05,305
1021,2,2022-03-14,280
1020,6,2022-02-14,260
1019,3,2022-01-10,240
1011,1,2022-03-20,225
1018,4,2021-12-05,220
1010,2,2021-09-15,210
1017,5,2021-11-21,200
1006,1,2021-01-11,199
1016,1,2021-10-03,180
1003,3,2021-06-18,175
1009,6,2021-08-31,170
1015,3,2022-08-17,160
1014,4,2022-07-09,140
1004,6,2021-08-31,140
1007,2,2021-04-05,135
1001,1,2021-01-11,135
1008,3,2021-06-18,115

-- 13. Sort orders by order_date (oldest to newest)

In [3]:
SELECT * FROM orders
ORDER BY order_date ASC;

order_id,customer_id,order_date,sales
1006,1,2021-01-11,199
1001,1,2021-01-11,135
1002,2,2021-04-05,305
1007,2,2021-04-05,135
1008,3,2021-06-18,115
1003,3,2021-06-18,175
1004,6,2021-08-31,140
1009,6,2021-08-31,170
1010,2,2021-09-15,210
1016,1,2021-10-03,180
1017,5,2021-11-21,200
1018,4,2021-12-05,220
1019,3,2022-01-10,240
1020,6,2022-02-14,260
1021,2,2022-03-14,280
1011,1,2022-03-20,225
1012,2,2022-04-25,350
1013,5,2022-06-01,305
1014,4,2022-07-09,140
1015,3,2022-08-17,160

-- 14. Sort orders by order_date (newest to oldest)

In [4]:
SELECT * FROM orders
ORDER BY order_date DESC;

order_id,customer_id,order_date,sales
1015,3,2022-08-17,160
1014,4,2022-07-09,140
1013,5,2022-06-01,305
1012,2,2022-04-25,350
1011,1,2022-03-20,225
1021,2,2022-03-14,280
1020,6,2022-02-14,260
1019,3,2022-01-10,240
1018,4,2021-12-05,220
1017,5,2021-11-21,200
1016,1,2021-10-03,180
1010,2,2021-09-15,210
1004,6,2021-08-31,140
1009,6,2021-08-31,170
1008,3,2021-06-18,115
1003,3,2021-06-18,175
1007,2,2021-04-05,135
1002,2,2021-04-05,305
1001,1,2021-01-11,135
1006,1,2021-01-11,199

-- 15. Sort orders by customer_id, then sales descending

In [1]:

SELECT * FROM orders
ORDER BY customer_id, sales DESC;

order_id,customer_id,order_date,sales
1011,1,2022-03-20,225
1006,1,2021-01-11,199
1016,1,2021-10-03,180
1001,1,2021-01-11,135
1012,2,2022-04-25,350
1002,2,2021-04-05,305
1021,2,2022-03-14,280
1010,2,2021-09-15,210
1007,2,2021-04-05,135
1019,3,2022-01-10,240
1003,3,2021-06-18,175
1015,3,2022-08-17,160
1008,3,2021-06-18,115
1018,4,2021-12-05,220
1014,4,2022-07-09,140
1013,5,2022-06-01,305
1017,5,2021-11-21,200
1020,6,2022-02-14,260
1009,6,2021-08-31,170
1004,6,2021-08-31,140


-- 16. Filter orders with sales > 200, sorted by sales descending

In [6]:

SELECT * FROM orders
WHERE sales > 200
ORDER BY sales DESC;

order_id,customer_id,order_date,sales
1012,2,2022-04-25,350
1013,5,2022-06-01,305
1002,2,2021-04-05,305
1021,2,2022-03-14,280
1020,6,2022-02-14,260
1019,3,2022-01-10,240
1011,1,2022-03-20,225
1018,4,2021-12-05,220
1010,2,2021-09-15,210

-- 17. Sort only 2022 orders by order_date

In [5]:

SELECT * FROM orders
WHERE YEAR(order_date) = 2022
ORDER BY order_date ASC;

order_id,customer_id,order_date,sales
1019,3,2022-01-10,240
1020,6,2022-02-14,260
1021,2,2022-03-14,280
1011,1,2022-03-20,225
1012,2,2022-04-25,350
1013,5,2022-06-01,305
1014,4,2022-07-09,140
1015,3,2022-08-17,160