# ðŸ“˜ SQL GROUP BY Practice
**Using Customers and Orders Table**

This notebook demonstrates the use of `GROUP BY` clause in SQL with real-world data structure.

<span style="color: #008000;">-- 01. Count customers from each country</span>

In [1]:
SELECT country, COUNT(*) AS total_customers
FROM customers
GROUP BY country;

country,total_customers
Canad,1
Canada,2
Germany,4
India,3
Iran,1
UAE,3
UK,2
USA,4

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 02. Average score of customers by country</span>

In [1]:
SELECT country, AVG(score) AS average_score
FROM customers
GROUP BY country;

country,average_score
Canad,90
Canada,605
Germany,367
India,340
Iran,107
UAE,773
UK,785
USA,325

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 03. Total sales done by each customer</span>

In [2]:
SELECT customer_id, SUM(sales) AS total_sales
FROM orders
GROUP BY customer_id;

customer_id,total_sales
1,739
2,1280
3,690
4,360
5,505
6,570

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 04. Number of orders placed by each customer</span>

In [3]:
SELECT customer_id, COUNT(order_id) AS number_of_orders
FROM orders
GROUP BY customer_id;

customer_id,number_of_orders
1,4
2,5
3,4
4,2
5,2
6,3

<span style="color: #008000;">-- 05. Minimum and maximum sales per customer</span>

In [4]:
SELECT customer_id, MIN(sales) AS min_sale, MAX(sales) AS max_sale
FROM orders
GROUP BY customer_id;

customer_id,min_sale,max_sale
1,135,225
2,135,350
3,115,240
4,140,220
5,200,305
6,140,260

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 06. Total sales by year</span>

In [5]:
SELECT YEAR(order_date) AS order_year, SUM(sales) AS total_sales
FROM orders
GROUP BY YEAR(order_date);

order_year,total_sales
2021,2184
2022,1960

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 07. Number of customers per score group (grouping by rounded hundreds)<i></i></span>

In [6]:
SELECT (score / 100) * 100 AS score_range, COUNT(*) AS customer_count
FROM customers
GROUP BY (score / 100) * 100;

score_range,customer_count
0,2
100,4
300,2
400,2
500,3
600,2
700,2
800,1
900,2

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 08. Total orders and average sales by year and customer</span>

In [7]:
SELECT YEAR(order_date) AS order_year, customer_id, COUNT(*) AS total_orders, AVG(sales) AS avg_sales
FROM orders
GROUP BY YEAR(order_date), customer_id;

order_year,customer_id,total_orders,avg_sales
2021,1,3,171
2022,1,1,225
2021,2,3,216
2022,2,2,315
2021,3,2,145
2022,3,2,200
2021,4,1,220
2022,4,1,140
2021,5,1,200
2022,5,1,305
2021,6,2,155
2022,6,1,260

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 09. Count of countries with each customer name (to find duplicate names across countries)<i></i></span>

In [8]:
SELECT first_name, COUNT(DISTINCT country) AS country_count
FROM customers
GROUP BY first_name;

first_name,country_count
Ahmed,1
Ali,1
Alice,1
Georg,1
Ilyas,1
John,1
Lina,1
Maria,1
Martin,1
Nina,1
Omar,1
Peter,1
Rauf,1
Salma,1
Samd,1
Sameer,1
Tariq,2
Tom,1
Zara,1

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 10. Find total score by country where total score is above 1000<i></i></span>

In [9]:
SELECT country, SUM(score) AS total_score
FROM customers
GROUP BY country
HAVING SUM(score) > 1000;

country,total_score
Canada,1210
Germany,1470
India,1020
UAE,2319
UK,1570
USA,1300

<span style="color: rgb(0, 128, 0); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">-- 11. Count how many orders each customer made in 2022<i></i></span>

In [10]:
SELECT customer_id, COUNT(*) AS orders_2022
FROM orders
WHERE YEAR(order_date) = 2022
GROUP BY customer_id;

customer_id,orders_2022
1,1
2,2
3,2
4,1
5,1
6,1

<span style="color: #008000;">-- 12. Total sales grouped by customer and order year</span>

In [11]:
SELECT customer_id, YEAR(order_date) AS order_year, SUM(sales) AS yearly_sales
FROM orders
GROUP BY customer_id, YEAR(order_date);

customer_id,order_year,yearly_sales
1,2021,514
2,2021,650
3,2021,290
4,2021,220
5,2021,200
6,2021,310
1,2022,225
2,2022,630
3,2022,400
4,2022,140
5,2022,305
6,2022,260