<span style="color: #008000;"><b>-- ðŸ“˜ STEP 1: Basic SELECT queries</b></span>

In [7]:
USE EmployeeSalesDB

In [8]:
-- 1. Select all employees
SELECT * FROM employees;

id,first_name,last_name,department,monthly_salary,email
1,Paul,Garrix,Corporate,6000.00,paul.garrix@company.com
2,Astrid,Fox,Support,2845.56,NULL
3,Matthias,Johnson,Private Individuals,3009.41,NULL
4,Lucy,Patterson,Private Individuals,3547.25,NULL
5,Tom,Page,Corporate,5974.41,NULL
6,Claudia,Conte,Corporate,4714.12,NULL
7,Walter,Deer,Private Individuals,3547.25,NULL
8,Stephanie,Marx,Support,2894.51,NULL
9,Luca,Pavarotti,Private Individuals,4123.45,NULL
10,Victoria,Pollock,Corporate,4789.53,NULL

In [10]:
-- 2. Select employee names and salary
SELECT first_name, last_name, monthly_salary FROM employees;

first_name,last_name,monthly_salary
Paul,Garrix,6000.00
Astrid,Fox,2845.56
Matthias,Johnson,3009.41
Lucy,Patterson,3547.25
Tom,Page,5974.41
Claudia,Conte,4714.12
Walter,Deer,3547.25
Stephanie,Marx,2894.51
Luca,Pavarotti,4123.45
Victoria,Pollock,4789.53

In [6]:

-- 3. Select employees with salary above 4000
SELECT * FROM employees WHERE salary > 4000;

id,first_name,last_name,department,salary
5,Tom,Page,Corporate,5974.41
6,Claudia,Conte,Corporate,4714.12
9,Luca,Pavarotti,Private Individuals,4123.45
10,Victoria,Pollock,Corporate,4789.53

In [7]:

-- 4. Select employees from Corporate department
SELECT * FROM employees WHERE department = 'Corporate';

id,first_name,last_name,department,salary
1,Paul,Garrix,Corporate,3547.25
5,Tom,Page,Corporate,5974.41
6,Claudia,Conte,Corporate,4714.12
8,Stephanie,Marx,Corporate,2894.51
10,Victoria,Pollock,Corporate,4789.53

In [8]:

-- 5. Order employees by salary descending
SELECT * FROM employees ORDER BY salary DESC;

id,first_name,last_name,department,salary
5,Tom,Page,Corporate,5974.41
10,Victoria,Pollock,Corporate,4789.53
6,Claudia,Conte,Corporate,4714.12
9,Luca,Pavarotti,Private Individuals,4123.45
7,Walter,Deer,Private Individuals,3547.25
1,Paul,Garrix,Corporate,3547.25
4,Lucy,Patterson,Private Individuals,3547.25
3,Matthias,Johnson,Private Individuals,3009.41
8,Stephanie,Marx,Corporate,2894.51
2,Astrid,Fox,Private Individuals,2845.56

In [9]:

-- 6. Get unique departments
SELECT DISTINCT department FROM employees;

department
Corporate
Private Individuals

In [10]:
-- 7. Count total number of employees
SELECT COUNT(*) AS total_employees FROM employees;

total_employees
10

In [11]:

-- 8. Get average salary of all employees
SELECT AVG(salary) AS avg_salary FROM employees;

avg_salary
3899.274000

In [12]:
-- 9. Get total salary paid
SELECT SUM(salary) AS total_salary FROM employees;

total_salary
38992.74

In [13]:

-- 10. Get employees with name starting with 'P'
SELECT * FROM employees WHERE first_name LIKE 'P%';

id,first_name,last_name,department,salary
1,Paul,Garrix,Corporate,3547.25

**\-- ðŸ“— STEP 2: Join Queries**

In [14]:
-- 11. List employee names and their Q1 sales
SELECT e.first_name, e.last_name, qs.q1_2022
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id;

first_name,last_name,q1_2022
Paul,Garrix,8715.55
Astrid,Fox,4989.23
Matthias,Johnson,12774.51
Lucy,Patterson,5417.81
Tom,Page,6349.74
Claudia,Conte,2498.63
Walter,Deer,18415.66
Stephanie,Marx,3471.41
Luca,Pavarotti,4485.36
Victoria,Pollock,1547.52

In [15]:
-- 12. Total annual sales for each employee
SELECT e.first_name, e.last_name,
       (qs.q1_2022 + qs.q2_2022 + qs.q3_2022 + qs.q4_2022) AS total_sales
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id;

first_name,last_name,total_sales
Paul,Garrix,45443.38
Astrid,Fox,20312.48
Matthias,Johnson,58233.67
Lucy,Patterson,30595.57
Tom,Page,28637.65
Claudia,Conte,17734.94
Walter,Deer,62774.59
Stephanie,Marx,22993.23
Luca,Pavarotti,25023.21
Victoria,Pollock,6770.16

In [16]:

-- 13. Top 3 employees by total sales
SELECT TOP 3 e.first_name, e.last_name,
       (qs.q1_2022 + qs.q2_2022 + qs.q3_2022 + qs.q4_2022) AS total_sales
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id
ORDER BY total_sales DESC;

first_name,last_name,total_sales
Walter,Deer,62774.59
Matthias,Johnson,58233.67
Paul,Garrix,45443.38

In [17]:

-- 14. Department-wise average salary
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department;

department,avg_salary
Corporate,4383.964000
Private Individuals,3414.584000

In [18]:

-- 15. Total Q2 sales across all employees
SELECT SUM(q2_2022) AS total_q2_sales FROM quarterly_sales;

total_q2_sales
102936.19

**\-- ðŸ“™ STEP 3: UPDATE and DELETE**

In [19]:
-- 16. Update salary of an employee
UPDATE employees SET salary = 6000 WHERE id = 1;

In [20]:

-- 17. Update department of all employees with salary < 3000
UPDATE employees SET department = 'Support' WHERE salary < 3000;

-- 18. Delete an employee record
-- DELETE FROM employees WHERE id = 10; -- Uncomment to run

**\-- ðŸ“’ STEP 4: ALTER TABLE operations**

In [21]:
-- 19. Add a new column 'email' to employees table
ALTER TABLE employees ADD email VARCHAR(100);

In [22]:
-- 20. Update email for one employee
UPDATE employees SET email = 'paul.garrix@company.com' WHERE id = 1;

In [23]:
-- 21. Rename column 'salary' to 'monthly_salary'
EXEC sp_rename 'employees.salary', 'monthly_salary', 'COLUMN';

**\-- ðŸ“• STEP 5: Aggregation + Filtering**

In [34]:

-- 22. Get employees with total annual sales > 25000
SELECT 
  e.first_name, 
  e.last_name,
  (qs.q1_2022 + qs.q2_2022 + qs.q3_2022 + qs.q4_2022) AS total_sales
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id
WHERE (qs.q1_2022 + qs.q2_2022 + qs.q3_2022 + qs.q4_2022) > 25000;

first_name,last_name,total_sales
Paul,Garrix,45443.38
Matthias,Johnson,58233.67
Lucy,Patterson,30595.57
Tom,Page,28637.65
Walter,Deer,62774.59
Luca,Pavarotti,25023.21

In [26]:
-- 23. Group employees by department and count them
SELECT department, COUNT(*) AS employee_count
FROM employees
GROUP BY department;

department,employee_count
Corporate,4
Private Individuals,4
Support,2

In [27]:

-- 24. Maximum salary in each department
SELECT department, MAX(monthly_salary) AS max_salary
FROM employees
GROUP BY department;

department,max_salary
Corporate,6000.00
Private Individuals,4123.45
Support,2894.51

**\-- ðŸ“” STEP 6: Subqueries**

In [28]:
-- 25. Get employees earning more than average salary
SELECT * FROM employees
WHERE monthly_salary > (SELECT AVG(monthly_salary) FROM employees);

id,first_name,last_name,department,monthly_salary,email
1,Paul,Garrix,Corporate,6000.00,paul.garrix@company.com
5,Tom,Page,Corporate,5974.41,NULL
6,Claudia,Conte,Corporate,4714.12,NULL
10,Victoria,Pollock,Corporate,4789.53,NULL

In [29]:

-- 26. Employees whose total sales are above average
SELECT e.first_name, e.last_name
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id
WHERE (qs.q1_2022 + qs.q2_2022 + qs.q3_2022 + qs.q4_2022) >
      (SELECT AVG(q1_2022 + q2_2022 + q3_2022 + q4_2022) FROM quarterly_sales);

first_name,last_name
Paul,Garrix
Matthias,Johnson
Walter,Deer

**\-- ðŸ“™ STEP 7: Advanced Ordering**

In [30]:
-- 27. Bottom 3 earners
SELECT TOP 3 * FROM employees ORDER BY monthly_salary ASC;

id,first_name,last_name,department,monthly_salary,email
2,Astrid,Fox,Support,2845.56,NULL
8,Stephanie,Marx,Support,2894.51,NULL
3,Matthias,Johnson,Private Individuals,3009.41,NULL

In [31]:
-- 28. Highest Q3 seller
SELECT TOP 1 e.first_name, e.last_name, qs.q3_2022
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id
ORDER BY qs.q3_2022 DESC;

first_name,last_name,q3_2022
Paul,Garrix,24747.82

In [32]:
-- 29. Employees who sold more than 10000 in Q1 or Q2
SELECT e.first_name, e.last_name, qs.q1_2022, qs.q2_2022
FROM employees e
JOIN quarterly_sales qs ON e.id = qs.employee_id
WHERE qs.q1_2022 > 10000 OR qs.q2_2022 > 10000;

first_name,last_name,q1_2022,q2_2022
Matthias,Johnson,12774.51,24784.31
Lucy,Patterson,5417.81,12846.23
Walter,Deer,18415.66,15279.37
Stephanie,Marx,3471.41,14789.25

In [33]:
-- 30. Total sales for each quarter
SELECT
  SUM(q1_2022) AS total_q1,
  SUM(q2_2022) AS total_q2,
  SUM(q3_2022) AS total_q3,
  SUM(q4_2022) AS total_q4
FROM quarterly_sales;

total_q1,total_q2,total_q3,total_q4
68665.42,102936.19,89931.56,56985.71