### <span style="color: #008000;">-- 1. List all orders with customer names and countries</span>

In [1]:
SELECT o.order_id, o.order_date, o.sales,
       c.first_name, c.country
FROM orders o
JOIN customers c ON o.customer_id = c.id
ORDER BY o.order_date;

order_id,order_date,sales,first_name,country
1006,2021-01-11,199,Maria,Germany
1001,2021-01-11,135,Maria,Germany
1002,2021-04-05,305,John,USA
1007,2021-04-05,135,John,USA
1008,2021-06-18,115,Georg,UK
1003,2021-06-18,175,Georg,UK
1004,2021-08-31,140,Alice,Canada
1009,2021-08-31,170,Alice,Canada
1010,2021-09-15,210,John,USA
1016,2021-10-03,180,Maria,Germany
1017,2021-11-21,200,Peter,USA
1018,2021-12-05,220,Martin,Germany
1019,2022-01-10,240,Georg,UK
1020,2022-02-14,260,Alice,Canada
1021,2022-03-14,280,John,USA
1011,2022-03-20,225,Maria,Germany
1012,2022-04-25,350,John,USA
1013,2022-06-01,305,Peter,USA
1014,2022-07-09,140,Martin,Germany
1015,2022-08-17,160,Georg,UK

## <span style="color: rgb(0, 128, 0); font-size: 14px;">-- 2. Show total sales per customer (with name), sorted by total sales DESC</span>
<span style="color: rgb(0, 128, 0);"><br></span>

In [2]:
SELECT c.first_name, c.country, SUM(o.sales) AS total_sales

FROM customers c

JOIN orders o ON o.customer_id = c.id

GROUP BY c.first_name, c.country

ORDER BY total_sales DESC;

first_name,country,total_sales
John,USA,1280
Maria,Germany,739
Georg,UK,690
Alice,Canada,570
Peter,USA,505
Martin,Germany,360

### <span style="color: #008000;">-- 3. List all orders placed by customers from 'USA', sorted by sales DESC</span>

In [3]:
SELECT o.order_id, o.order_date, o.sales, c.first_name
FROM orders o
JOIN customers c ON o.customer_id = c.id
WHERE c.country = 'USA'
ORDER BY o.sales DESC;

order_id,order_date,sales,first_name
1012,2022-04-25,350,John
1013,2022-06-01,305,Peter
1002,2021-04-05,305,John
1021,2022-03-14,280,John
1010,2021-09-15,210,John
1017,2021-11-21,200,Peter
1007,2021-04-05,135,John

### <span style="color: #008000;">-- 4. Get customers who placed orders with sales &gt; 250, sorted by score</span>

In [4]:
SELECT DISTINCT c.first_name, c.country, c.score
FROM customers c
JOIN orders o ON o.customer_id = c.id
WHERE o.sales > 250
ORDER BY c.score DESC;

first_name,country,score
John,USA,900
Alice,Canada,660
Peter,USA,0

### <span style="color: #008000;">-- 5. Find all orders along with customer name and score, sorted by customer score then order_date</span>

In [5]:
SELECT o.order_id, o.order_date, o.sales,
       c.first_name, c.score
FROM orders o
JOIN customers c ON o.customer_id = c.id
ORDER BY c.score DESC, o.order_date ASC;

order_id,order_date,sales,first_name,score
1002,2021-04-05,305,John,900
1007,2021-04-05,135,John,900
1010,2021-09-15,210,John,900
1021,2022-03-14,280,John,900
1012,2022-04-25,350,John,900
1003,2021-06-18,175,Georg,750
1008,2021-06-18,115,Georg,750
1019,2022-01-10,240,Georg,750
1015,2022-08-17,160,Georg,750
1004,2021-08-31,140,Alice,660
1009,2021-08-31,170,Alice,660
1020,2022-02-14,260,Alice,660
1018,2021-12-05,220,Martin,500
1014,2022-07-09,140,Martin,500
1001,2021-01-11,135,Maria,350
1006,2021-01-11,199,Maria,350
1016,2021-10-03,180,Maria,350
1011,2022-03-20,225,Maria,350
1017,2021-11-21,200,Peter,0
1013,2022-06-01,305,Peter,0